@font-face {
  font-family: 'trellicons';
  src: url('@/assets/fonts/Trellicons/trellicons.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('@/assets/fonts/Ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: 'Ubuntu-light';
  src: url('@/assets/fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face {
  font-family: 'Paytone';
  src: url('@/assets/fonts/Paytone/PaytoneOne-Regular.ttf');
}
