$clr1: #026aa7;
$clr2: #fafbfc;
$clr3: #172b4d;
$clr4: #182a4d;
$clr5: #5e6c84;

$task-btn-clr: #091e420a;
$task-btn-hvr: #e1e4e8;
$task-bcg: #f4f5f7;
$task-icon-clr: #42526e;

$group-bgc: #ebecf0;
